
<div class="container-fluid p-5">
  <div class="d-flex justify-content-center">
      <form  action="" (ngSubmit)="onRegister()" #myForm="ngForm">
        <div class="text-center">
          <h1  class="mb-5" style="font-size:3rem ;">User Register</h1>
        </div>
        <div class="row mb-2">
          <label class="mb-2" for="" style="font-size:1.5rem ;">Name</label>
          <input class="mb-2 rounded-3" style="height: 3.5rem ; font-size:1.5rem" type="text" required id="name" name="name" [(ngModel)]="register.name" #nameInput="ngModel" placeholder="Your Name...">
          <p [class.invalid]="nameInput.invalid" class="message-error">This field is required</p>
        </div>

        <div class="row mt-4">
          <label for="" class="mb-2" style="font-size:1.5rem ;">Email</label>
          <input class="rounded-3" type="email" style="height: 3.5rem ; font-size:1.5rem " required name="email" id="email" [(ngModel)]="register.email" #emailInput="ngModel" placeholder="Your Email...">
          <p [class.invalid]="emailInput.invalid" class="message-error">This field is required</p>
        </div>

        <div class="row mt-4">
          <label for="" class="mb-2" style="font-size:1.5rem ;">Password</label>
          <input class="rounded-3" type="password" style="height: 3.5rem ; font-size:1.5rem " required name="password" id="password" #passwordInput="ngModel" [(ngModel)]="register.password" placeholder="Your Password...">
          <p [class.invalid]="passwordInput.invalid" class="message-error">This field is required</p>
        </div>
        <div class="mt-3">
          <button type="submit" style="height: 4rem ; width: 8rem;font-size:1.5rem  " class="btn btn-primary" [disabled]="myForm.invalid">Register</button>
          <button type="button" style="height: 4rem ; width: 8rem;font-size:1.5rem  " class="btn btn-primary ms-4">Accion</button>
        </div>
      </form>
  </div>
</div>

